.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#header {
    background-color: #ff7e5f; 
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 4px 5px 15px black;
}

#interest-hobbies, #works, #testimonials {
    background-color: #ffac81; /* Another sunset color */
    color: white;
    padding: 20px;
    width: calc(25% - 20px); /* 25% width with padding */
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 4px 5px 15px black;
}

h2 {
    margin-top: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffac81;
    box-sizing: border-box;
    width: auto;
    margin: 1rem;
    box-shadow: 4px 5px 15px black;
}

.ange{
    margin: 10px;
    text-align: center;
}

.ange img{
    width: 410px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 4px 5px 15px black;
}

.title{
    text-align: center;
    background-color: #ffac81;
    color: white;
    box-shadow: 4px 5px 15px black;
}